:host {
  display: block;
  padding: 0;
  display: 0;
  width: 100%;
  height: 100%; /* Altura padrão, pode ser ajustada via CSS. */
  position: relative;
}

.graph-container {
  width: 100%;
  height: 100%;
  background-color: transparent; /* Fundo transparente como solicitado. */
}
