@keyframes printReceipt {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-print-receipt {
  animation: printReceipt 2s linear forwards;
}

.perspective-1000 {
    perspective: 1000px;
}
