:host {
    display: block;
    width: 100%;
}

.animate-spin-fast {
    animation: spin 0.1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}