.hero-canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    text-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
    pointer-events: none; // Permite que o scroll funcione mesmo com o texto sobre o canvas
}