/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globais para a aplicação */
body {
  font-family: Montserrat, Roboto, Inter, sans-serif;
  background-color: #f8f9fa;
  /* Um cinza claro para o fundo geral */
}

html {
  width: 100%;
}

/* Prevent horizontal scroll on all elements */
*,
*::before,
*::after {
  box-sizing: border-box;
  max-width: 100vw;
}

/* Estilo para a seção do herói (cubo 3D) */
.hero-section {
  position: relative;
  height: 100vh;
  width: 100%;
  // Fundo roxo espacial bem escuro
  background-color: #0a0311;
}

/* Estilo para a seção do herói estendida (usada na home) */
.hero-section-extended {
  position: relative;
  height: calc(100vh + 80px);
  width: 100%;
  // Fundo roxo espacial bem escuro
  background-color: #0a0311;
}


/* Estilo para a seção de conteúdo (cards) */
.content-section {
  background-color: #ffffff;
  padding: 6rem 0;
}

/* Global Custom Scrollbar */
$unrender-purple: #10051c;
$unrender-accent: #f99126;

:root {
  --unrender-accent: #{$unrender-accent};
  --unrender-purple: #{$unrender-purple};
}

.bg-unrender-accent {
  background-color: var(--unrender-accent) !important;
}

.text-unrender-accent {
  color: var(--unrender-accent) !important;
}

/* Firefox */
html,
body,
* {
  scrollbar-width: thin !important;
  scrollbar-color: $unrender-purple #f0f0f0 !important;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-track {
  background: rgba($unrender-purple, 0.05) !important;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: $unrender-purple !important;
  border-radius: 3px;

  &:hover {
    background-color: $unrender-accent !important;
  }
}